body {
  background: #f0f0f0;
}
aside, main {
  padding: 10px!important;
}
@media (min-width: 992px) {
  main {
    padding-left: 0!important;
  }
}
aside .inner, main .inner {
  background: #fff;
  padding: 20px;
}
h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #777;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
h4 {
  font-size: 15px;
  font-weight: 700;
}
section h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}
a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  /*color: #873D87;*/
}
.divider {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
.fa {
  color: #777;
  margin-right: 5px;
  top: 4px;
}
.contact-links li {
  margin-bottom: 5px;
}
.profileLinks li a {
  text-decoration: none;
  color: #000;
}
.profileLinks li a:hover {
  color: #873D87;
}
.about, .work, .education, .skills, .projects {
  margin-bottom: 30px;
}
.work {
    margin-top: 30px;
}
.skills-list li {
  font-size: 18px;
}
.projectItem {
    margin-top: -15px;
    margin-bottom: 15px;
}
.projectItem p {
    margin-top: -3px;
    margin-bottom: 4px;
}
.workItem {
    margin-top: -5px;
    margin-bottom: 25px;
}
.workItem p {
    margin-top: 0px;
    margin-bottom: 3px;
}
.workItem h4 {
    margin-top: 8px;
    margin-bottom: 5px;
}
.workDates {
  color: #777;
  margin-top: -5px;
}
.text-italicize {
    font-style: italic;
}
.label {
    background-color: #873D87;
}
.education h4 {
    margin-top: 15px;
}
th, td {
    padding: 3px;
}
table {
    margin-bottom: -5px;
}
.borderless td, .borderless th, .borderless tr, .borderless tbody {
    border: none;
}
